
#Product-Container{
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: center;
   justify-content: center;
   width: 100%;
   box-shadow: var(--box-shadow); 

}

.Product-Card{
   display: flex;
   justify-content: center;
   box-shadow: var(--box-shadow);
   margin: 2rem;   
   padding: 0 0 5rem 0;
   
}
.Product-Content{
   
   text-align: center;
   padding: 1rem;

}
.Product-Content h3{
   margin-top: 2rem;

}

.Product-Card{

}

.img{
   height: 20rem;
}
